@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Jaldi&display=swap');

$mainColor: #9ad21d;
$colorTitle: #9ec013;
$fontInter: 'Inter', sans-serif;
$fontJaldi: 'Jaldi', sans-serif;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $fontInter;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

.header {
	// .header__container

	&__container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 30px;
		max-width: 1280px;
		margin: 0 auto;
	}

	// .header__main

	&__main {
		width: 100%;
	}

	// .header__top

	&__top {
		display: flex;
		justify-content: flex-end;
		gap: 200px;
		padding: 30px 30px 30px 0;
	}

	// .header__phones

	&__phones {
		display: flex;
		gap: 60px;
	}

	// .header__phone

	&__phone {
		a {
			color: #a1a1a1;
			position: relative;
			font-size: 20px;

			&::before {
				content: url(./img/Phone.svg);
				position: absolute;
				left: -22%;
			}
		}
	}

	// .header__links

	&__links {
		display: flex;
		gap: 30px;
	}

	// .header__nav

	&__nav {
		background: $mainColor;
		display: flex;
		justify-content: center;
	}

	// .header__list

	&__list {
		display: flex;
		gap: 10px;
		padding: 5px;
	}

	// .header__item

	&__item {
		a {
			padding: 5px 10px;
			color: #000;

			&:hover {
				background: #fff;
			}
		}
	}

	&__burger {
		display: none;
		z-index: 5;
	}
}

.main {
	background: #f2f2f2;
}

.wrapper {
	padding: 50px 0;
	// .wrapper__container

	&__container {
		display: flex;
		align-items: center;
		gap: 75px;
	}

	// .wrapper__text

	// &__text {
	// }

	// .wrapper__title

	&__title {
		color: $colorTitle;
		font-size: 30px;
	}

	// .wrapper__desc

	&__desc {
		margin-top: 30px;
		font-size: 18px;
	}

	// .wrapper__img

	&__img {
		padding: 75px 25px;
		background: $mainColor;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: 13px;
			margin-top: 5px;
		}
	}
}
.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
.product {
	padding-bottom: 80px;
	// .product__container

	// &__container {
	// }

	// .product__title

	// &__title {
	// }

	// .product__grid

	&__grid {
		margin-top: 35px;
		display: flex;
		gap: 205px;
	}

	// .product__box

	&__box:not(:last-child) {
		background: #fff;
		padding: 0 38px;
	}

	&__box:last-child {
		background: #fff;
		padding: 3px 0;
	}
}
.sesction {
	// .sesction__title

	&__title {
		font-size: 25px;
		color: $colorTitle;
	}
}

.footer {
	background: #3b3d3d;
	padding: 100px;

	// .footer__container

	// .footer__nav

	// .footer__list

	&__list {
		display: flex;
		gap: 20px;
	}

	// .footer__item

	&__item {
		a {
			color: #fff;
		}
	}
}

// =================== catalog page ========================

.productWrapper {
	// .productWrapper__image

	&__image {
		width: 100%;
	}

	// .productWrapper__container

	&__container {
		display: flex;
		align-items: center;
		gap: 75px;
		padding: 65px 0;
	}

	&__title {
		color: $colorTitle;
		font-size: 30px;
	}

	&__desc {
		margin-top: 30px;
		font-size: 18px;
	}

	// .productWrapper__text

	// &__text {
	// }

	// .productWrapper__title

	// &__title {
	// }

	// // .productWrapper__desc

	// &__desc {
	// }

	// .productWrapper__img

	&__img {
		padding: 75px 25px;
		background: $mainColor;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: 13px;
			margin-top: 5px;
		}
	}
}

.effective {
	background: url(./img/effectivBG.svg) no-repeat center center;
	background-size: cover;
	padding: 15px 0 40px;

	// .effective__container

	// &__container {
	// }

	// .effective__title

	&__title {
		font-weight: 700;
	}

	// .effective__boxes

	&__boxes {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .effective__box

	&__box {
		background: rgba(217, 217, 217, 0.4);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px 27px;
		color: #fff;

		h3 {
			font-weight: 700;
			font-size: 42px;
		}
	}
}

.productType {
	padding: 20px 0 90px;
	// .productType_title

	&_title {
		font-weight: 700;
		font-size: 25px;
	}

	// .productType__boxes

	&__boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 20px 30px;
		margin-top: 30px;
	}

	// .productType__box

	&__box {
		p {
			font-family: $fontJaldi;
			font-size: 24px;
			text-transform: uppercase;
		}
	}
}

// =============== product page ====================

.productInfo {
	// .productInfo__container

	&__container {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	// .productInfo__title

	&__title {
		margin-bottom: 15px;
	}
}

.download {
	background: #dedede;
	padding: 55px 0;

	&__container {
		padding: 0 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 50px;
	}
	// .download__ling

	&__link {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	// .download__text

	&__text {
		p {
			color: #000;
		}
		h3 {
			color: #9ec013;
			margin-bottom: 5px;
		}
	}
}

.gallery {
	// .gallery__container
	position: relative;
	padding: 70px 0;

	&__container {
	}
}

.swiper-wrapper {
	align-items: center;
}
.swiper-slide {
	img {
		width: 100%;
	}
}
.swiper-button-prev {
	background: url(./img/Back.svg) center center;
	left: 10%;
}
.swiper-button-next {
	background: url(./img/Forward.svg) center center;
	right: 10%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

// ============= responsive =================
@media screen and (max-width: 1240px) {
	.container {
		width: 95%;
	}

	.header__list {
		gap: 5px;
		padding: 4px;
	}

	.swiper-button-prev {
		left: 3%;
	}
	.swiper-button-next {
		right: 3%;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		&__top {
			gap: 100px;
		}

		&__phones {
			flex-direction: column;
			gap: 10px;
		}

		&__main {
			display: flex;
			flex-direction: column;
		}

		&__burger {
			align-self: flex-end;
			display: block;
			position: relative;
			height: 30px;
			width: 30px;
			right: 30px;
			bottom: 30px;
			transition: all 1s;

			&.active {
				& span {
					transform: scale(0);
				}

				&::after {
					transform: rotate(45deg) translate(-50%, -50%);
					bottom: 0;
					background: #ffffff;
				}

				&::before {
					background: #ffffff;
					transform: rotate(-45deg) translate(-50%, -50%);
				}
			}
		}

		&__burger::after,
		&__burger::before {
			content: '';
			background: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			transition: all 1s;
			left: 50%;
			transform: translate(-50%);
		}
		&__burger::before {
			top: 20%;
		}
		&__burger::after {
			bottom: 20%;
		}
		&__burger span {
			background: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.nav {
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			padding: 15px;
			background: linear-gradient(0deg, #000 0%, rgba(19, 28, 38, 0.69) 100%);
			transform: translateX(100%);
			transition: transform 0.5s;
			z-index: 2;
			justify-content: center;
			align-items: center;

			&__list {
				display: flex;
				flex-direction: column;
				gap: 25px;
				max-width: 350px;
				li {
					padding: 10px 0;
				}
			}

			&.active {
				transform: translateX(0);
			}

			&__item {
				a {
					color: #fff;
					font-size: 24px;
				}

				&:not(:last-child)::after {
					content: '';
				}
			}
		}
	}

	body.lock {
		overflow: hidden;
	}

	.product__grid {
		gap: 150px;
	}

	.footer {
		padding: 100px 0px;
	}

	.productType__boxes {
		justify-content: center;
	}

	.productWrapper__container {
		flex-direction: column;
	}
}
@media screen and (max-width: 768px) {
	.header {
		&__container,
		&__top {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__top {
			gap: 30px;
			padding: 0 0 30px;
		}

		&__main {
			flex-direction: column-reverse;
		}

		&__burger {
			align-self: flex-end;
			// top: 30px;
			right: 20px;
			bottom: auto;
			top: 30px;
			position: absolute;
		}
	}

	.wrapper__container {
		flex-direction: column;
	}

	.product__grid {
		flex-direction: column;
		gap: 30px;
	}

	.product__box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer__list {
		flex-direction: column;
	}

	.effective__box {
		padding: 10px 8px;

		h3 {
			font-size: 24px;
		}

		p {
			text-align: center;
			font-size: 16px;
		}
	}

	.productInfo__container {
		flex-direction: column;
	}
}
@media screen and (max-width: 425px) {
	.effective__boxes {
		flex-direction: column;
		gap: 20px;
	}

	.effective__box {
		width: 40%;
	}
}
@media screen and (max-width: 400px) {
}
